@font-face {
    font-family: myIcons;
    src: url(SegoeMDL2Assets3.woff);
}
* {
    box-sizing: border-box;
    font-family: "Segoe UI", "Microsoft YaHei UI", "Microsoft YaHei", sans-serif;
    outline: none;
}
html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}
body {
    margin: 0;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    overflow: hidden;
    touch-action: manipulation;
}
.titlebar::after {
    clear: both;
}
.titleitem {
    height: 48px;
    background-color: #e6e6e6;
    font-size: 11pt;
    font-weight: 600;
    text-transform: uppercase;
    float: left;
}
.onright {
    float: right;
}
.title {
    flex: 1;
    left: 48px;
    color: black;
    padding: 0 1em;
}
.container {
    clear: both;
    padding: 18px;
    font-size: 12pt;
    flex: 1;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    -webkit-flex: 1;
}
.barbutton {
    width: auto;
    border: none;
    text-align: center;
    color: black;
    text-decoration: none;
    padding: 0;
    font-size: 11pt;
    color: black;
}
.barbutton:hover {
    background-color: #cfcfcf;
}
.barbutton:active {
    background-color: #b8b8b8;
}
.icon {
    width: 48px;
    height: 48px;
    background-image: url("orz.gif");
    background-size: 48px;
}
.textbox {
    flex: 1;
    -webkit-flex: 1;
    width: 100%;
    margin: .5em 0;
    padding: 0.5em;
    font-size: 12pt;
    resize: none;
}
textarea {
    border: solid 2px #999999;
}
textarea:hover {
    border-color: #666666;
}

.disabled {
    pointer-events: none;
    cursor: default;
}
.button {
    width: 90px;
    height: 32px;
    border: none;
    border: 2px solid #cccccc;
    background-color: #cccccc;
    text-align: center;
    color: black;
    text-decoration: none;
    padding: 0;
    font-size: 11pt;
    color: black;
    display: block;
}
.button:hover {
    border: 2px solid #7a7a7a;
}
.button:active {
    background-color: #999999;
    border: 2px solid #999999;
    border: none;
}
.bar {
    line-height: 48px;
    flex: 0 1 48px;
    background-color: #e6e6e6;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    cursor: default;
    overflow: hidden;
    /*width: 100%;*/
}
footer {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: flex-end;
    transition: flex-basis .35s cubic-bezier(0.1, 0.9, 0.2, 1) 0s;
    z-index: 99999;
    -webkit-flex: 0 1 48px;
    -webkit-justify-content: flex-end;
    -webkit-align-content: flex-end;
}
footer.expand {
    flex: 0 1 60px;
    -webkit-flex: 0 1 60px;
}
.save_button {
    font-size: 14pt;
    width: 3.5em;
}
.save_button::before {
    font-family: myIcons;
    content: "\e105";
}
.more_button {
    font-size: 14pt;
    width: 2.5em;
}
.more_button::before {
    font-family: myIcons;
    content: "\e10c";
}
.desc {
    position: relative;
    top: -.5em;
    font-size: 9pt;
    line-height: 9pt;
}
.invisible {
    display: none;
}
.modal_wrap {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    cursor: default;
}
